<h2>User info</h2>
<div>
  <table class="table">
    <tbody>
      <%= image_tag user.get_profile_image(100,100) %>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
    </tbody>
  </table>
</div>
<% if current_user == user %>
  <%= link_to edit_user_path(current_user), class: "btn btn-sm btn-block btn-outline-secondary" do %>
    <i class="fa-solid fa-user-gear"></i>
  <% end %>
<% else %>
  <%= link_to edit_user_path(user), class: "btn btn-sm btn-block btn-outline-secondary" do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>
<% end %>