<div class="d-grid gap-2 my-3 col-8 mx-auto">
  <h1>User info</h1>

    <% if @user.errors.any? %>
      <%= @user.errors.count %>error prohibited this obj from being saved:
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <%= form_with model: @user do |f| %>

    <div class="vstack gap-3">
      <div class="p-2">
        <label for="inputName">Name</label><br>
        <%= f.text_field :name, autofocus: true, id:"inputName" %><br>
      </div>
      <div class="p-2">
        <label for="inputImage">Image</label><br>
        <%= f.file_field :profile_image, accept: "image/*" %><br>
      </div>
      <div class="p-2">
        <label for="inputIntroduction">Introduction</label><br>
        <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction" %><br>
      </div>
      <div class="p-2">
        <%= f.submit "Update User", class: "btn btn-secondary" %>
      </div>
    </div>

  <% end %>
</div>