<div class="container">
  <div class="row">
    <div class="col-md-3 my-3">
      <div sidebar_fixed>
        <!-- ユーザーの詳細 -->
        <%= render 'users/list_show', user: @user %>
        <!-- 新規投稿画面 -->
        <%= render 'list_new', book: Book.new %>
      </div>
    </div>
    <div class="offset-md-1 col-md-8 my-3">
      <h1>Book detail</h1>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to image_tag(@book.user.get_profile_image(100,100)), user_path(@book.user) %><br>
              <%= link_to @book.user.name, user_path(@book.user) %>
            </td>
            <td><%= link_to @book.title %></td>
            <td><%= @book.body %></td>
            <% if @book.user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-danger" %></td>
            <% end %>
          </tr>
        </thody>
      </table>
    </div>
  </div>
</div>